:root {
    --backgroundcolor: #222222;
    --Goud: #C5B673;
    /*--lettertype:  Verdana sans-serif;*/
    --tekstkleur: white;
    --font1: font-family: 'Dancing Script', cursive;
    --font2: font-family: 'Akaya Telivigala', cursive;
}

body{
    background-color: var(--backgroundcolor);
    font-family: 'Akaya Telivigala', cursive;
}


/*opmaak header*/
header{
    width: 95%;
    margin: 0 auto;
    position: relative;
    font-family: 'Dancing Script', cursive;
}
header figure:nth-of-type(1){
    width: 5%;
    min-width: 70px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
header figure:nth-of-type(1) img{
    width: 100%;
}

header figure:nth-of-type(2){
    margin: 0 auto;
    width: 100%;
    background-image: url(../images/pexels.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
    background-position-y: bottom;
}
header h1{
    position: absolute;
    top: 350px;
    left: 100px;
    color: var(--backgroundcolor);
    font-size: 4rem;
    font-weight: lighter;

}
header span{
    font-weight: bold;
    color: var(--Goud);
}
/*Make this page responsive for phones*/
@media screen and (max-width: 600px) {
    header h1{
        font-size: 2rem;
        left: 20px;
    }
    header figure:nth-of-type(2) {
        height: 400px;
    }
}

